@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "./shared.css";

.ProseMirror [data-resize-image-ui="resize-handle"] {
  width: 12px !important;
  height: 12px !important;
}
.ProseMirror [data-resize-image-ui="position-controller"] {
  display: none !important;
}
