DATABASE_URL="postgresql://postgres:postgres@localhost:5432/hcmus-physic?schema=public"
PORT=3001
BETTER_AUTH_SECRET="your-secret-key-here"
BETTER_AUTH_URL="http://localhost:3001"
GOOGLE_CLIENT_ID="your-google-client-id"
GOOGLE_CLIENT_SECRET="your-google-client-secret"
GOOGLE_REDIRECT_URI="http://localhost:3001/auth/google/callback"
GOOGLE_CLIENT_REDIRECT_URI="http://localhost:3000/oauth-google-callback"
OTP_EXPIRES_IN="2m"
AWS_ACCESS_KEY_ID="your-aws-access-key-id"
AWS_SECRET_ACCESS_KEY="your-aws-secret-access-key"
AWS_REGION="ap-southeast-1"
SES_FROM_ADDRESS="your-verified-ses-email@example.com"
SENTRY_DSN=""
NODE_ENV="development"
FRONTEND_URL="http://localhost:3000"
ACCESS_TOKEN_SECRET="change-me"
ACCESS_TOKEN_EXPIRES_IN="15m"
REFRESH_TOKEN_SECRET="change-me"
REFRESH_TOKEN_EXPIRES_IN="7d"
ADMIN_FIRST_NAME="Super"
ADMIN_LAST_NAME="Admin"
ADMIN_PASSWORD="change-me"
ADMIN_EMAIL="admin@hcmus.edu.vn"
